body {
	background-color: white;
}

a {
}

a:hover {

}

a:active {

}

a:visited {

}

div#wrap {
	margin: 0 auto;
}

div#nav {
	width: 200px;
	float: left;
	padding: 5px;
	padding-top: 0px;
	border: black dashed 1px;
}

div#nav a {

}

div#nav a:hover {

}

div#nav a:active {

}

div#nav a:visited {

}

div#nav_action {

}

#nav_edit_button {

}

#nav_edit_button:hover {

}

#nav_edit_button:active {

}

span#search_bar {
	float: right;
}

#search_button {

}

div#main_container {
	min-height: 50px;
	border-top: 1px dashed black;
	margin-left: 230px;
	padding-left: 10px;
}

div#main {

}



div#main a {

}

div#main a:hover {

}

div#main a:active {

}

div#main a:visited {

}


div#actionbar {
	clear: both;
	border-top:1px dashed black;
	padding: 5px;
}


div#page_title {
	font-size: large;
	font-weight: bold;
	position: relative;
	left: 234px;
	margin: 5px;
	width: 80%;
}

div#page_title a {
	text-decoration: none;
	color: darkblue;
}

textarea {

}

textarea#content {
	background: #edfbff;
	width: 90%;
	height: 80%;
}

.wbutton {
	display: inline-block;
	cursor: pointer;
	border: 1px black outset;
	padding: 0px 3px 0px 3px;
	margin-top: 5px;
	background: white;
}

.wbutton:hover {
	background: #daf6ff;
	border: 1px red outset;
}

.wbutton:active {
	border: 1px black inset;
}

.warning {
	color: red;
	font-weight: bold;
}



#new_button {

}

#new_button:active {

}

#new_button:hover {

}

#edit_button {

}

#edit_button:active {

}

#edit_button:hover {

}

#delete_button {

}

#delete_button:active {

}

#delete_button:hover {

}

#yes_button {

}

#yes_button:active {

}

#yes_button:hover {

}

.section {
	width: 300px;
	border: 1px dashed gray;
}


