body {
	background: #FF9999;
	color: #9966CC;
	font-family: comic, arial, verdana, sans-serif;
	font-weight: bold;
}

a {
}

a:hover {

}

a:active {

}

a:visited {

}

div#wrap {

}

div#nav {
	border: black solid 10px;
	margin: 10px;
	padding: 0px 10px 0px 10px;
	width: 80%;
	text-align: center;
	background: #DDFFFF;
}

div#nav a {
	color: #9966DD;
	margin: 1px;
	padding: 2px;
}

div#nav a:hover {
	color: #EEFF55;
	background: #996699;

}

div#nav a:active {

}

div#nav a:visited {

}

div#nav_action {
	text-align: right;
	margin-bottom: 4px;
}

#nav_edit_button {
}

#nav_edit_button:hover {

}

#nav_edit_button:active {

}

div#nav_edit_bar {
	text-align: left;
	position: relative;
	left: 5%;
	margin: 3px;
}

textarea#nav_content {
	background: #FFFFEE;
	width: 90%;
	height: 100px;
	border-color: #FF99CC;
}

span#search_bar {
	float: right;
}

#search_button {

}

div#main_container {
	height: 70%;
	width: 79%;
	margin: 10px;
	position: absolute;
}

div#main {
	background: white;
	height: 100%;
	width: 100%;
	border: 10px black solid;
	padding: 10px;
	overflow: auto;
	background-color: #FFDDFF;
}



div#main a {
	color: #9966DD;
	text-decoration: none;
	border-bottom: 1px dotted #9966AA;
}

div#main a:hover {
	color: #AAAACC;
}

div#main a:active {

}

div#main a:visited {

}


div#actionbar {
	padding-top: 10px;
}


div#page_title {
	font-size: large;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	float: right;
	width: 15%;
	line-height: 35px;}

div#page_title a {
	text-decoration: none;
	color: #EEFF55;
	border: none;
	background:#996699;
	padding: 4px;
}

div#page_title a:hover {
	background: #EEFF55;
	border: none;
	color: #996699;
}


textarea {

}

textarea#content {
	background: #FFFFEE;
	width: 90%;
	height: 80%;
	padding: 3px;
}

div#edit_bar {
	margin: 3px;
}

.wbutton {
	display: inline-block;
	cursor: pointer;
	border: 2px #FF9944 outset;
	padding: 0px 3px 0px 3px;
	margin-top: 5px;
	background: #FFCC88;
	color: #332233;
}

.wbutton:hover {
	border: 2px #FF9944 inset;
	color: black;
}

.wbutton:active {
	border: 1px black inset;
}

.warning {
	color: red;
	font-weight: bold;
}



#new_button {

}

#new_button:active {

}

#new_button:hover {

}

#edit_button {

}

#edit_button:active {

}

#edit_button:hover {

}

#delete_button {

}

#delete_button:active {

}

#delete_button:hover {

}

#yes_button {

}

#yes_button:active {

}

#yes_button:hover {

}

.section {
	width: 300px;
	border: 1px dashed gray;
}


